* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #f1f1f1;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

h1 {
    font-size: 2.5em;
    color: #3f444a;
}
.banner-placeholder {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
}
.banner-placeholder img {
    width: 60%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    margin-bottom: 20px;
    padding-top: 50px;
}

.container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    color: #ff6f61;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #555;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
}

h2 {
    font-size: 2em;
}

p {
        font-size: 1em;
    }
}
  